.BannerComponent {
  height: 60vh;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)),
    url(https://images.unsplash.com/photo-1635074921144-a78163c43f35?ixid=MnwxMjA3fDB8MHxwaG90by1vZi10aGUtZGF5fHx8fGVufDB8fHx8&ixlib=rb-1.2.1&dpr=1&auto=format%2Ccompress&fit=crop&w=1999&h=594);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container_sm {
  display: grid;
  justify-content: start;
}

.BannerComponent .BannerContent {
  color: var(--mainColor);
}

.BannerComponent .BannerContent h1 {
  font-size: 3rem;
}

.BannerComponent .BannerContent p {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1.4rem;
  font-weight: 500;
}
