.PopUpInnerDiv {
  display: flex;
}

.PopUpInnerDiv > div {
  /* margin: 0 3rem; */
  padding: 0 3rem;
}

.PopUpContentDiv h3 {
  margin: 1.3rem 0;
  font-size: 1.2rem;
}

.PopUpContentDiv p {
  width: max-content;
  color: var(--loveGrayOne);
  margin: 0.8rem 0 !important;
  font-weight: 500;
  font-size: 1.2rem;
}
