.PopUpInnerDiv {
  display: flex;
}

.PopUpInnerDiv > div {
  margin: 0 3rem;
}

.PopUpContentDiv h3 {
  margin-bottom: 1.3rem;
  font-size: 1rem;
}

.PopUpContentDiv p {
  font: 1.3rem;
  color: var(--loveGrayOne);
  margin: 0.8rem 0 !important;
  font-weight: 600;
}
