.ImageDivContainer {
  width: 100%;
  height: auto;
  padding: 30px 0;
}

.Container {
  max-width: 1500px;
  margin: auto;
}

.ImageDivContainer .ImgBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.ImgBox img {
  margin: 0.5rem;
}

@media (max-width: 1200px) {
  .ImageDivContainer .ImgBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .ImageDivContainer .ImgBox {
    grid-template-columns: repeat(1, 1fr);
  }
}
